body {
    margin: auto;
    padding: 50px;
    color: rgb(45, 32, 73);
    font-family: 'Lato', sans-serif;
}


/* ---- Set up site grid ---- */

.wrapper {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "banner banner"
        "side main"
        "footer footer";
    grid-gap: 4px;
    
}

/* ---- End of grid setup ---- */


/* -000- Area styling -000- */

.box {
    padding: 20px;
    border-radius: 10px; 
    }

/* Area colouring... */

/* logo, banner and footer background are the same */
.logo, .banner, .footer {
    background-color: rgb(119, 25, 206);  /* dark grey */
}

/* Set font on dark areas to white */
.logo, .banner, .side, .footer {
    color: rgb(43, 43, 71);
}

/* Area specifics */

.logo {
    padding: 0;
    float: left;
    
}

.banner {
    grid-area: banner;
}

.side {
    grid-area: side;
    background-color: rgb(63, 27, 192);  /* silver */
    font-size: 150%;
    text-align: center;
}

.main {
    grid-area: main;
    background-color: rgb(42, 55, 73);  /* very pale grey */
    border: solid 1px rgb(19, 1, 1);
}


.footer {
    grid-area: footer;
    text-align: right;
}

/* -000- End of area styling -000- */

h1, h2, h3, h4 {
    font-family: 'Ubuntu', sans-serif;
}

/* Side Links */
.nav a {font-weight: bold; text-decoration: none;}
.nav a:link, .nav a:visited {color: #f3c0d1;} /* pale pink */
.nav a:hover {color: #604830;} /* chocolate brown */


/* links in page */
a {font-weight: bold;}
a:link{color: #AA0000;} /*dark_red */
a:visited{color: #111177;} /* dark blue */
a:hover{color: #000;}    /* Black*/


/* Contact Form Styling */
.contact {
    width: 100%;
}


.img-circle {
    border-radius: 50%;
    max-width: 85%;
    height: auto;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.8);     
}

.center_image {
    text-align: center;
}

/* Sub Heading Formatting */
.sub_heading {
    font-family: 'Ubuntu', sans-serif;
    color: #000000; /* Black */
    font-weight: bold;
}

/* Results Box Formatting */
.results {
    background-color: #000000; /* Black */
    border-radius: 10px;
    border: lpx solid #000;
    padding: 5px;
}

/* Error box formatting */
.error {
    background-color: #ffe0ed; /*pale pink*/
    border: 2px solid #8a1737; /* dark red border */
    color: #8a1737; /* dark red */
    border-radius: 5px;
    padding: 20px;
}

/* form formatting */

.search {
    width:200px;
    padding: 8px 15px;
    background: #fff;
}




















